#use glob syntax
syntax: glob

#executables
tools/rw

drivers/main.cc

#gprof output
gmon.out

# factory
src/factories.cc
src/feasst.h

#gcov, etc
*.gcda
*.gcno
*.gcov

#google c++ test
gtest_main.a
googletest-*

#callgrind output
callgrind*

#swap files
*.swp

#configuration files
*.xyz
*.vmd

#documentation
sphinx/_build/*

#temporary files
*tmp*
trash/
vmd
*.bak
*.log
colMat*
log*

#test files
test/*
*test

#tables
table/*

# pycache
__pycache__

